*{
    margin: 0;
}
.mainbody{
    height: 100%;
    border-style: dotted;
    width: 100%;
    background:yellowgreen;
    color: white;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    align-items: center;
    text-align: center;  
}
.heading h1{
    font-size: 100px;
    color: red;
}
.scoreboard{
    color:red; 
    text-align: center;
    font-size: 3em;
    margin: 50px 50px 50px 50px;
}
.p-score, .c-score{
    text-align: center;     
    margin: 10px 0px 0px 0px; 
}
.choose , .turnsleft, .results{
    color:black;
    font-size: 50px; 
}

.restart {
    width: 400px;
    height:100px;
    color: blue;
    display: none;    
    cursor: pointer;  
    background: red;
    border-style: solid;
    border-radius: 10px;
    font-size: 75px;    
}

.restart:hover{
    border-radius: 5em;
}

.Rock {
    background-image: url(images/rock.png);
    padding: 0.8em;
}

.Paper {
    background-image: url(images/paper.png);
    padding: 0.8em;
}

.Scissor {
    background-image: url(images/scissor.png); 
    padding: 0.8em;  
}

.symbols{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 3%;
}

.symbols button {    
    width: 150px;
    height: 150px;
    border-radius: 2em;
    cursor: pointer;  
    display : flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;   
}

.symbols button:hover {
    border-radius: 5em;
  }

  @media (max-width: 600px){
      .mainBody{
          height: 100vh;
          font-size: 1vw;
    }
    .symbols button{
        padding: 5%;
        width: 75px;
        height: 75px;
        margin: 5%;
        background-size: contain;
        }   
  }